@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&display=swap');

.error {
    height: 100%;
    margin: auto 5%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.error img {
    display: block;
    margin: 8% auto 6% auto;
    width: 70%;
}

.error h1 {
    margin: 0% auto 2% auto;
    font-family: Josefin Slab, sans-serif;
    font-size: 300%;
    color: #8c52ff;
}

.error p {
    margin: 0% auto 15% auto;
    font-family: Josefin Slab, sans-serif;
    font-style: 400;
    font-size: 200%;
    color: #464646;
}