.current-date { 
  background-color: #32CD32;
  color: #fff;
}

.current-date:hover {
  background-color: #228B22;
}

.selected-date {
  background-color: #4169E1;
  color: #fff;
}

.selected-date:hover {
  background-color: #0000CD;
}

.highlighted {
  background-color: #9c27b0;
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

.highlighted:hover {
  background-color: #7b1fa2;
}

.current-month {
  background-color: #f0f0f0;
  color: #000;
}

.current-month:hover {
  background-color: #74b1b6;
  color: #fff;
}

.other-month {
  background-color: #f0f0f0;
  color: #888;
  cursor: default;
}
