.hero-container {
    height: 100vh;
    width: 100%;
    padding: 8%;
    align-items: center;
    background: rgb(20,165,255);
    background: linear-gradient(90deg, rgba(20,165,255,1) 0%, rgba(60,123,212,1) 35%, rgba(4,159,193,1) 74%, rgba(0,145,255,1) 100%);     background-position: center; /* Center the background image by default */
}

.hero-icon-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.hero-icon {
    width: 5rem;
    height: 5rem;
    padding: 30%;
    margin: 3rem;
    background-color: rgb(0, 89, 166);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

