/* Navbar.css */

.navbar {
    background-color: #111111;
    display: flex;
    padding: 15px 0 5px 8px;
    padding-top: 10px;
}

.menu-bars {
    font-size: 250%;
}

.nav-menu {
    background-color: #111111;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%; 
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 1.5%;
    list-style: none;
    padding: 6% 4%;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 100%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 0.5%;
    transition: color 0.3s ease; /* Lägg till en övergångseffekt för textfärgen */
}

.nav-text svg {
    fill: white;
    transition: fill 0.3s ease; /* Övergångseffekt för fyllningsfärgen i ikonen */
}

.nav-text:hover a {
    color: #111111; /* Ändra textfärgen till svart när muspekaren är över länken */
}

.nav-text:hover svg {
    fill: black; /* Ändra fyllningsfärgen för SVG-ikonen när muspekaren är över länken */
}

.nav-text:hover {
    background-color: rgb(255, 208, 0);
}

.navbar-toggle {
    background-color: #111111;
    width: 100%;
    padding: 15px 0 5px 8px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 6%;
}

.menu-bars svg {
    color: #ffffff;
}

.menu-bars svg:hover {
    color: #cccccc;
}